<html>
<head>
    <title>$i18n.getText("jenkins.admin.label")</title>
    <meta name="decorator" content="atl.admin">
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResource("com.atlassian.stash.plugins.jenkins:resources")

    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()">
</head>
<body>
<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
            <h2>Jenkins Integration</h2>
        </div>
    </div>
</header>
<nav id="main-nav" class="aui-navgroup aui-navgroup-horizontal">
    <div class="aui-navgroup-inner">
        <div class="aui-navgroup-primary">
            <ul class="aui-nav">
                <li id="general-nav-item" class="aui-nav-selected"><a href="#">General</a></li>
                <li id="advanced-nav-item"><a href="#">Per Project</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="aui-page-panel">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
            <div class="nav-content" id="content-1">
                <form id="admin" class="aui prevent-double-submit">
                    <div class="field-group">
                        <label for="url">$i18n.getText("jenkins.admin.url.label")</label>
                        <input type="text" id="url" name="url" class="text">
                        <div class="description">
                            The URL of your <a href="http://jenkins-ci.org">Jenkins</a> Instance. It can be overwritten
                            on a per repository basis.
                        </div>
                    </div>
                    <div class="field-group">
                        <input type="submit" value="$i18n.getText("jenkins.admin.save.label")" class="aui-button aui-button-primary" accesskey="s" />
                        <a id="cancel" class="aui-button aui-button-link cancel" accesskey="c" href="./admin">$i18n.getText("jenkins.admin.cancel.label")</a>
                    </div>
                </form>
            </div>
            <div class="nav-content" id="content-2">
                <div class="aui-message info">
                    <span class="aui-icon aui-icon-info">Info</span>
                    To be done ...
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>