{namespace com.atlassian.stash.plugins.jenkins.jenkinsbuildtrigger}

/**
 * @param? config
 * @param? errors
 */
{template .view}
    {call aui.form.textField}
        {param id: 'url' /}
        {param value: $config ? $config['url'] : null /}
        {param labelContent: 'Jenkins URL:'  /}
        {param descriptionText: 'Here you can override the globally defined URL of your Jenkins instance' /}
        {param errorTexts: $errors ? $errors['url'] : null /}
    {/call}
{/template}
